*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android project
/android/build/
/android/app/build/
/android/wear/build/
/android/.gradle/
/android/local.properties

# PWA
/pwa/node_modules/
/pwa/dist/
/pwa/.env.local

# Docs
*.pdf